$grid-gap: 20px; 
$section-padding: 20px;
$border-radius: 15px;
$section-background: white;
$box-shadow: 0 4px 8px rgba(0,0,0,0.1);

$primary-color: #ECF0F1;
$secondary-color: #ABB7B7;
$title-color: #34495E; 
$value-background-color: #E74C3C;
$mins-background-color: #F1C40F; 
$font-color: #ccc;

.metrics-breakdown {
    grid-column: 3 / 7;
    grid-row: 2 / 5;
    max-height: 330px;
    transform: translateY(19%);
    min-height: 301px;
  
    h1 {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 20px;
    }
  
    .timeframe-dropdown {
      position: absolute;
      top: 20px;
      right: 20px;
      margin-bottom: 30px;
    }
  
    select {
      padding: 5px 10px;
    }
  }